 .download
 {
   height: 170px;
 }

.row
{
  padding: 20px;
}

#menu:hover{
	color:#336699!important;
}
.software
{
  width:50%;
  float:left;
  text-align: justify;
  padding-right: 20px;
  font-size: 18px;
  color: #336699;
}

textarea {
  width: 100% !important;
  border: 1px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 1px 1px 0px 0px #336699 !important;
  -moz-box-shadow: 1px 1px 0px 0px #336699 !important;
  box-shadow: 1px 1px 0px 0px #336699 !important;
  background-color: #eee!important;
}

.dikko
{
  width:50%;
  float:right;
}

.abbas
{
  width:60%;
  float:left;
}

.umaru
{
  width:40%;
  float:right;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .software
    {
      width:100%;
      height: auto;
      text-align: justify;
      padding-right: 20px;
      font-size: 18px;
      color: #336699;
    }

    .mapouter
    {
      position:relative;
      text-align:right;
      height:325px;
      width:100%;
    }

    .gmap_canvas
    {
      overflow:hidden;
      background:none!important;
      height:325px;
      width:100%;
    }

    .download
    {
      height: 530px;;
    }
    .dikko
    {
      width:100%;
    }
    .abbas
    {
      width:100%;
    }

    .umaru
    {
      width:100%;
    }
}